.main-logo {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  img {
    width: 60vw;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

body {
  width: 101%;
  overflow: hidden;
}

.comic-img {
  animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scrollToBottom {
  from {
    top: 0px;
  }
  100% {
    top: 0px;
  }
  to {transform: translate(0, -100%)}
}